annotated-docannotated-typesanyiocertificlickcoloramafastapiuvicorn[standard]filelockfsspecgreenleth11hf-xethttpcorehttpxhuggingface_hubidnaJinja2joblibmarkdown-it-pyMarkupSafemdurlmpmathmutagennarwhalsnetworkxnumpypackagingpydanticpydantic_corePygmentsPyYAMLregexrichsafetensorsscikit-learnscipysentence-transformerssetuptoolsshellinghamSQLAlchemystarlettesympythreadpoolctltokenizerstorchtqdmtransformerstypertyping-inspectiontyping_extensionspypdfEbookLibalembicpsycopg[binary]uliweb-alembicsmbprotocolpysmbclient